## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Oo]ut/

## NuGet
**/[Pp]ackages/*
*.nupkg
*.snupkg
**/packages/
project.lock.json
project.fragment.lock.json

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
launchSettings.json

## Rider
.idea/

## User-specific files
*.rsuser

## Build logs
*.log
msbuild.*.binlog

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## Claude
.claude/
